.sequence {
    font-family: monospace;
    white-space: pre-wrap;
    font-size: 16px;
}

span.left-buffer {
    width: 100px;
    display: inline-block;
}

span.right {
    position: absolute;
    display: inline-block;
}

div.chunk {
    margin-top: 21px;
    margin-bottom: 21px;
}

a.peptide-link:visited {
    color: red;
}