body {
    overflow-x: scroll;
}

p.sequence {
    font-family: 'Courier New', Courier, monospace;
    white-space: pre-nowrap;
    font-size: 16px;
}

span.left-buffer {
    width: 100px;
    display: inline-block;
}

span.right-buffer {
    width: 50px;
    display: inline-block;
}

div.chunk {
    margin-top: 21px;
    margin-bottom: 21px;
}