<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="utf-8">
        <title>Detail for alignment {{alignment.prots}}</title>
    </head>
    <body>
        <p><a href="/peptides">Back to proteins list</a></p>
        <p>Alignment {{alignment.prots}}</p>
        <pre>
            {{alignment.alignment}}
        </pre>
        <a class="button" href="/peptides/download_alignment/{{ alignment.prots }}">
            Download alignment as text file
        </a>
        <p>Associated proteins</p>
        <ol>
        {% for protein in proteins %}
            <li>
                <a href = "/peptides/proteins/{{protein.acc_num}}">{{protein.acc_num}}</a>
            </li>
        {% endfor %}
        </ol>
        <p>Associated mass spec peptides</p>
        <ol>
        {% for peptide in peptides %}
            <li>
                {{peptide.prot}}@{{ peptide.location }}: {{ peptide.peptide }}
            </li>
        {% endfor %}
        </ol>
    </body>
</html>