<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="utf-8">
        <title>Detail for alignment {{alignment.prots}}</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'peptides/css/main.css' %}">
        <link rel="stylesheet" href="{% static 'peptides/css/protein.css' %}">
        <script src="{% static 'peptides/js/peptide_highlight.js' %}" defer></script>
    </head>
    <body>
        <h1>Alignment {{ prots }}</h1>
        <p><a href="/">Back to proteins list</a></p>
        <p id="header">
            <span class="left-buffer"></span>{{ alignment_pieces.header }}
        </p>
        {% for chunk in alignment_pieces.chunks %}
            <div class="chunk">
            {% for prot_pieces in chunk %}
                <p class = "sequence"><!--
                 --><span class="left-buffer">{{ prot_pieces.acc_num }}</span><!--
                 -->{% for piece in prot_pieces.chunk %}<!--
                     -->{% if piece.is_pep %}<!--
                         --><span class="peptide {{ piece.loc }}_{{ prot_pieces.acc_num }}" 
                                id="{{ piece.loc }}_{{ prot_pieces.acc_num }}_{{ piece.pep_num }}">{{ piece.seq }}</span><!--
                     -->{% else %}<!--
                         -->{{ piece.seq }}<!--
                     -->{% endif %}<!--
                 -->{% endfor %}<!--
             -->{% if prot_pieces.is_prot_chunk %}<!--
                 --><span class="right" style="left:{{ num_offset }}px">{{ prot_pieces.chunk_end }}</span><!-- peptide number at end of line
             -->{% endif %}<!--
             --></p>
            {% endfor %}
            </div>
            {% endfor %}
        <a class="button" href="/download_alignment/{{ prots }}">
            Download alignment as text file
        </a>
        <p>Associated proteins</p>
        <ol>
        {% for protein in proteins %}
            <li>
                <a href = "/proteins/{{protein.acc_num}}">{{protein.acc_num}}</a>
            </li>
        {% endfor %}
        </ol>
        <button onclick = "highlight_all_peptides();">
            Highlight all peptides
        </button>
        <p>Associated mass spec peptides</p>
        <ol>
        {% for peptide in peptides %}
            <li>
                <a class = "peptide-link" href = "#{{peptide.location}}_{{peptide.prot}}_0"
                    onclick = 'highlight_locs("{{ peptide.location }}_{{ peptide.prot }}");'>
                    {{peptide.prot}}@{{ peptide.location }}
                </a>:
                <span class="sequence">{{ peptide.peptide }}</span>
            </li>
        {% endfor %}
        </ol>
    </body>
</html>