<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="utf-8">
        <title>Get protein</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'peptides/css/main.css' %}">
    </head>
    <body>
        <h1>Find a new protein</h1>
        <p><a href="/">Back to proteins list</a></p>
        <form action = "{% url 'peptides:get_protein'  %}" method = "POST">
            <!-- need csf_token in POST forms to avoid CSRF attacks -->
            {% csrf_token %}
            <fieldset>
                <p><strong>Choose a protein accession number</strong></p>
                <input type="text" minlength="6" maxlength="10" required="required"
                pattern = "(?:[OPQ][0-9][A-Z0-9]{3}[0-9]|[A-NR-Z][0-9]([A-Z][A-Z0-9]{2}[0-9]){1,2})(?:-([1-9][0-9]*))?"
                name="acc_num" id="acc_num">
                <label for="acc_num">
                <a href="https://www.uniprot.org/help/accession_numbers">
                    Accession number
                </a></label>
            </fieldset>
            <input type="submit" value="Request data">
        </form>
        <div id="workflow_description">
            <p>
                To get the data on a protein's sequence, its isoforms, 
                and its sequence alignment with its isoforms,
                the following steps are taken:
            </p>
            <ol>
                <li>
                    Request data from the 
                    <a href="https://rest.uniprot.org/docs/#/uniprotkb">
                        UniProtKB REST API</a>
                </li>
                <li>
                    Use the data to get the UniProt accession numbers
                    of the protein's isoforms.
                </li>
                <li>
                    Get the UniProt REST API data for each isoform.
                    Now we have the sequence of every isoform of the protein.
                </li>
                <li>
                    Use the European Bioinformatics Institute (EBI)'s
                    <a href = "https://www.ebi.ac.uk/Tools/msa/clustalo/">CLUSTAL-Omega tool</a>
                    to request a multiple sequence alignment of all the isoforms of the protein. 
                </li>
                <li>
                    Finally, cross-reference the unique peptides found by <a href="https://doi.org/10.1016/j.cell.2020.06.013">Gillette et al.</a> (2020, Cell 182, 200–225 July 9, 2020)
                </li>
            </ol>
        </div>
    </body>
</html>
