<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset = "utf-8">
        <title>Isoform alignment peptide finder</title>
        <link rel="stylesheet" type="text/css" href="/static/peptides/css/main.css">
    </head>
    <h1>Isoform alignment tool and mass spec peptide finder</h1>
    <p><a href = "/peptides/site_map">Site map</a></p>
    <a href="get_protein">Find a new protein</a>
    <p>Proteins so far:</p>
    <ul>
    {% for prot_datum in prot_data %}
        <li>
            <a href="proteins/{{prot_datum.acc_num}}">{{prot_datum.acc_num}}</a>: 
            (length {{ prot_datum.lenseq }}, {{ prot_datum.n_isoforms }} isoforms, 
                {{ prot_datum.npeps }} peptides)
        </li>
    {% endfor %}
    </ul>
</html>
