<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="utf-8">
        <title>Protein detail for {{ protein.acc_num }}</title>
        <link rel="stylesheet" type="text/css" href="/static/peptides/css/main.css">
        <link rel="stylesheet" type="text/css" href="/static/peptides/css/protein.css">
        <script src="/static/peptides/js/protein.js" defer></script>
    </head>
    <body>
        <h1>Protein {{ protein.acc_num }} detail</h1>
        <p><a href="/peptides">Back to proteins list</a></p>
        <p><a href="https://www.uniprot.org/uniprotkb/{{protein.acc_num}}/entry">
            UniProt entry for {{ protein.acc_num }}
        </a></p>
        <p>
            <a href="/peptides/proteins/{{ protein.acc_num }}/json">
            Get all data for this protein as JSON
            </a>
            (view 
            <a href = "/peptides/proteins/json_schema">schema</a>)
        </p>
        <p>Isoforms:</p>
        <ol>
        {% for isoform in isoforms %}
            <li>
                <a href="/peptides/proteins/{{ isoform }}">Isoform {{ isoform }}</a>
            </li>
        {% endfor %}
        </ol>
        <p>Alignments:</p>
        <ul>
        {% for alignment in alignments %}
            <li>
                <a href="/peptides/alignments/{{ alignment.prots }}">Alignment {{ alignment.prots }}</a>
            </li>
        {% endfor %}
        </ul>
        <p>Sequence (length {{seq_len}}):</p>
        <p id = "sequence">
        {% for chunk in sequence_chunks  %}
            {% if chunk.is_pep %}
                <span class="peptide" id="{{chunk.loc}}">
                    {{ chunk.seq }}
                </span>
            {% else %}
                {{ chunk.seq }}
            {% endif %}
        {% endfor %}
        </p>
        <p>Mass spec peptides unique to this isoform:</p>
        <ul>
        {% for peptide in peptides %}
            <li><a href="#{{peptide.location}}"
                onclick = 'highlight_loc("{{peptide.location}}"); last_highlighted_loc = "{{peptide.location}}"'>
                @{{ peptide.location }}
            </a>: {{ peptide.peptide }}</li>
        {% endfor %}
        </ul>
    </body>
</html>
