<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="utf-8">
        <title>Protein detail for {{ protein.acc_num }}</title>
        <link rel="stylesheet" type="text/css" href="/static/peptides/css/main.css">
        <link rel="stylesheet" type="text/css" href="/static/peptides/css/protein.css">
        <script src="/static/peptides/js/peptide_highlight.js" defer></script>
    </head>
    <body>
        <h1>Protein {{ protein.acc_num }} detail</h1>
        <p><a href="/peptides">Back to proteins list</a></p>
        <p><a href="https://www.uniprot.org/uniprotkb/{{protein.acc_num}}/entry">
            UniProt entry for {{ protein.acc_num }}
        </a></p>
        <p>
            <a href="/peptides/proteins/{{ protein.acc_num }}/json">
            Get all data for this protein as JSON
            </a>
            (view 
            <a href = "/peptides/proteins/json_schema">schema</a>)
        </p>
        <p>Isoforms:</p>
        <ol>
        {% for isoform in isoforms %}
            <li>
                <a href="/peptides/proteins/{{ isoform }}">Isoform {{ isoform }}</a>
            </li>
        {% endfor %}
        </ol>
        <p>Alignments:</p>
        <ul>
        {% for alignment in alignments %}
            <li>
                <a href="/peptides/alignments/{{ alignment.prots }}">Alignment {{ alignment.prots }}</a>
            </li>
        {% endfor %}
        </ul>
        <p>Sequence (length {{seq_len}}):</p>
        <div class="chunk">
        {% for prot_pieces in sequence_chunks %}
            <p class = "sequence"><!--
             -->{% for piece in prot_pieces.chunk %}<!--
                 -->{% if piece.is_pep %}<!--
                     --><span class="peptide {{ piece.loc }}" 
                              id="{{ piece.loc }}_{{ piece.pep_num }}">{{ piece.seq }}</span><!--
                 -->{% else %}<!--
                     -->{{ piece.seq }}<!--
                 -->{% endif %}<!--
             -->{% endfor %}<!--
         --><span class="right" style="left:{{ num_offset }}px">{{ prot_pieces.chunk_end }}</span><!-- peptide number at end of line
         --></p>
        {% endfor %}
        </div>
        <button onclick = "highlight_all_peptides();">
            Highlight all peptides
        </button>
        <p>Mass spec peptides unique to this isoform:</p>
        <ul>
        {% for peptide in peptides %}
            <li>
                <a class = "peptide-link" href = "#{{peptide.location}}_0"
                    onclick = 'highlight_locs("{{ peptide.location }}"); 
                        last_highlighted_locs = "{{ peptide.location }}"'>
                    @{{ peptide.location }}
                </a>:
                <span class="sequence">{{ peptide.peptide }}</span>
            </li>
        {% endfor %}
        </ul>
    </body>
</html>
