<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="utf-8">
        <title>Protein detail for {{ protein.acc_num }}</title>
    </head>
    <body>
        <h1>Protein {{ protein.acc_num }} detail</h1>
        <p><a href="/peptides">Back to proteins list</a></p>
        <p><a href="https://www.uniprot.org/uniprotkb/{{protein.acc_num}}/entry">
            UniProt entry for {{ protein.acc_num }}
        </a></p>
        <p>
            <a href="/peptides/proteins/{{ protein.acc_num }}/json">
            Get all data for this protein as JSON
            </a>
            (view 
            <a href = "/peptides/proteins/protein_json_schema">schema</a>)
        </p>
        <p>Isoforms:</p>
        <ol>
        {% for isoform in isoforms %}
            <li>
                <a href="/peptides/proteins/{{ isoform }}">Isoform {{ isoform }}</a>
            </li>
        {% endfor %}
        </ol>
        <p>Alignments:</p>
        <ul>
        {% for alignment in alignments %}
            <li>
                <a href="/peptides/alignments/{{ alignment.prots }}">Alignment {{ alignment.prots }}</a>
            </li>
        {% endfor %}
        </ul>
        <p>Sequence (length {{seq_len}}):</p>
        <pre>
            {{ protein.sequence }}
        </pre>
        <p>Mass spec peptides unique to this isoform:</p>
        <ul>
        {% for peptide in peptides %}
            <li>@{{ peptide.location }}: {{ peptide.peptide }}</li>
        {% endfor %}
        </ul>
    </body>
</html>
