<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="utf-8">
        <title>Isoform alignment mass spec peptide site map</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'peptides/css/main.css' %}">
        <style>
pre {
    display: inline;
}
        </style>
    </head>
    <body>
        <h1>Site map</h1>
        <p><a href="/"><pre>/?orderby=&lt;len|iso&gt;</pre></a>:
            <strong style="font-size: 14px;">Home page.</strong>
            Contains links to all proteins, ordered alphabetically by accession number.
            Can also add a query to order the proteins <a href="/?orderby=iso">by number of isoforms</a>,
            or <a href="/?orderby=len">by sequence length</a>.</p>
        <p><a href="/about"><pre>/about</pre></a>: Information about the motivation for the site.</p>
        <p><pre>/proteins/&lt;UniProt accession number&gt;?width=&lt;integer&gt;</pre>: Data for any protein already in the database. 
            Example: <a href="/proteins/P56856">/proteins/P56856.</a>
            Can change the number of amino acids per line (default 120) with a <em>width</em> query.</p>
        <p><pre>/proteins/&lt;UniProt accession number&gt;</pre>: JSON data for any protein already in the database. 
            Example: <a href="/proteins/P56856/json">/proteins/P56856/json</a></p>
        <p><a href = "/proteins/json_schema"><pre>/proteins/json_schema</pre></a>: 
            <a href = "https://json-schema.org/">JSON schema</a> for the JSON returned by 
            <pre>proteins/&lt;accession num&gt;</pre> json.</p>
        <p><pre>/peptides/?acc_num_like=&lt;UniProt accession number&gt;</pre>: 
            Download a CSV file with the peptides associated with any protein whose 
            UniProt accession number partially matches the query. 
            Example: <a href="/peptides/?acc_num_like=P56856">/peptides/acc_num_like=P56856</a> 
            matches <pre>P56856</pre> and <pre>P56856-2</pre>.</p>
        <p><pre>/peptides/?acc_num=&lt;UniProt accession number&gt</pre>: Download a CSV file with the 
            peptides associated with the protein that has exactly that UniProt accession number. 
            Example: <a href="/peptides/?acc_num=P56856">/peptides/acc_num=P56856</a> matches <pre>P56856</pre> only.</p>
        <p><pre>/alignments/&lt;list of UniProt accession numbers&gt;?width=&lt;integer&gt;</pre>: 
            The alignment of the proteins with those UniProt accession numbers. 
            Most conveniently accessed from the <pre>proteins</pre> page for one of those accession numbers.
            Can change the number of amino acids per line (default 60) with a <em>width</em> query.</p>
        <p><a href="/get_protein"><pre>/get_protein</pre></a>: 
            Enter a UniProt accession number, get its isoforms, peptides, and a sequence alignment with its isoforms.</p>
        <footer>Copyright 2022 Mark Johnston Olson (mjolsonsfca@gmail.com)</footer>
    </body>
</html>